.black
{
	background-color: #000000;
}

.item
{
	text-decoration: none;
}

.item:hover
{
	text-decoration: none;
}

.item:visited
{
	text-decoration: none;
}

.text-shadow
{
	 text-shadow: 0 0 5px #000000;
}
